* {
  --primary-color: #181a1e;
  --secondary-color: #e03e10;
  --text-color: #ffffff;

  --primary-font: "Staatliches", cursive;
  --secondary-font: "Open Sans", sans-serif;
  --common-font: "Coming Soon", cursive;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--primary-color);
  overflow: hidden;
}

.header {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 90%;
}

.title-main {
  font-size: calc(8vw + 1rem);
}

.title-sub {
  font-size: calc(2.5vw + 1rem);
}

.section-title {
  font-family: var(--primary-font);
  font-size: calc(7vw + 1rem);
  margin-bottom: 40px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.9;
}

.section-title span {
  color: var(--secondary-color);
}

.section-description {
  font-family: var(--secondary-font);
  color: #6f6f71;
}

.row-equal-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/****Navigation****/

nav.navbar {
  position: absolute;
  top: -100%;
  opacity: 0;
  animation: anim-3 2s forwards 2s;
  z-index: 2;
}

.navbar-toggler {
  border: 0;
}

.bg-dark {
  background: transparent !important;
  transition: 0.5s ease;
}

.bg-dark.scrolled {
  background: #19171a !important;
}

nav .navbar-nav {
  margin-left: auto;
  margin-right: 2.5rem;
}

a.nav-link {
  font-family: var(--common-font);
  font-size: 1rem;
  color: inherit !important;
  padding: 10px 1rem 10px 1rem !important;
}

nav .navbar-nav .nav-item {
  border-radius: 30px;
  margin: auto 0.5rem;
  color: var(--text-color);
}

nav .navbar-nav .nav-item:not(.current):hover {
  color: var(--text-color);
  background-color: #2d2d2d;
  box-shadow: 4px 4px 6px #131518, -4px -4px 6px #1d1f24;
}

.current {
  background-color: var(--text-color);
  border-radius: 30px;
  color: var(--primary-color) !important;
  box-shadow: 10px 10px 20px #111215, -10px -10px 20px #1f2227;
  z-index: 1;
}

.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #e65100;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

@keyframes anim-3 {
  from {
    opacity: 0;
    top: -100%;
  }
  to {
    opacity: 1;
    top: 0;
    position: fixed;
  }
}

/****Intro section*****/

#intro {
  height: 100vh;
  min-height: 500px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro .intro-content {
  position: relative;
  white-space: nowrap;
}

#intro .intro-content h1 {
  opacity: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  color: var(--text-color);
  text-shadow: 2px 2px 4px var(--secondary-color);
  animation: anim-1 2s forwards 3s;
}

#intro .intro-content h3 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: calc(6.5vw + 3rem);
  color: var(--secondary-color);
  animation: anim-1 2s forwards, anim-2 1.5s forwards 2.5s;
}

#intro .intro-content h3::after {
  content: "";
  animation: anim-4 1.5s forwards 2s;
  padding-left: 3px;
}

#intro .scroll-down {
  position: absolute;
  bottom: 20px;
  opacity: 0;
  animation: anim-1 3s forwards 3s;
}

#intro .scroll-down a {
  font-family: var(--common-font);
  color: var(--secondary-color);
  padding-top: 70px;
  text-decoration: none;
}

#intro .scroll-down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: arrow 1.5s infinite;
  animation: arrow 1.5s infinite;
  box-sizing: border-box;
}

@keyframes anim-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes anim-2 {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(6.5vw + 3rem);
  }
  to {
    top: 0;
    transform: translate(-50%, -100%);
    font-size: calc(2.5vw + 1.5rem);
  }
}
@keyframes anim-4 {
  from {
    content: "";
    opacity: 0;
  }
  to {
    content: ", it's";
    opacity: 1;
  }
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes arrow {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/****About section*****/

#about {
  padding-top: 110px;
  padding-bottom: 120px;
  color: #eaeaea;
}

.about-section .container {
  padding: 0 3rem;
  background-color: #24252a;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(25, 23, 26, 0.3);
  -moz-box-shadow: 10px 10px 10px 0px rgba(25, 23, 26, 0.3);
  box-shadow: 10px 10px 10px 0px rgba(25, 23, 26, 0.3);
}

.about-section .about-content .about-title {
  text-transform: uppercase;
}

.about-section .about-content .about-title span {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--secondary-color);
  letter-spacing: 15px;
}

.about-section .about-content .about-description p {
  font-family: var(--common-font);
  font-weight: 100;
  padding: 0.4rem 0;
}

/****Hobbies section*****/

#hobbies {
  padding-top: 110px;
  padding-bottom: 120px;
  color: #eaeaea;
}

.hobbies-section .hobbies-content {
  height: 100%;
  margin-top: 40px;
  background-color: #24252a;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(25, 23, 26, 0.3);
  -moz-box-shadow: 10px 10px 10px 0px rgba(25, 23, 26, 0.3);
  box-shadow: 10px 10px 10px 0px rgba(25, 23, 26, 0.3);
}

.hobbies-section .column {
  margin-top: 40px;
}

.hobbies-section .hobbies-content .part-1 {
  padding: 40px 40px 10px;
}

.hobbies-section .hobbies-content .part-1 i {
  margin-bottom: 15px;
  font-size: 50px;
  color: var(--secondary-color);
}

.hobbies-section .hobbies-content .part-1 .hobby-name {
  font-family: var(--secondary-font);
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 1.5em;
}

.hobbies-section .hobbies-content .part-2 {
  padding: 5px 40px 40px;
}

.hobbies-section .hobbies-content .part-2 .hobby-description {
  font-family: var(--common-font);
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 1.8em;
}

/* *****Contact-form****** */

#feedback {
  padding-top: 110px;
  padding-bottom: 120px;
  color: #eaeaea;
}

.feedback-section .feedback-content {
  margin-top: 40px;
}

.form-control {
  display: block;
  background: #eaeaea;
  border-radius: 31px;
  font-size: 18px;
  color: #6f6f71;
  line-height: 1.2;
  height: 62px;
  padding: 0 35px 0 35px;
  margin-bottom: 1rem;
}

.feedback-section .feedback-content textarea {
  min-height: 11.4rem;
  padding: 19px 35px 0 35px !important;
}

.feedback-section .feedback-content .submit-btn {
  color: #eaeaea;
  border-color: var(--secondary-color);
  padding: 0 20px;
  min-width: 10rem;
  height: 4.14rem;
  background-color: var(--secondary-color);
  border-radius: 31px;
  border-style: solid;
  font-size: 1rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.feedback-section .feedback-content .submit-btn:focus {
  color: #eaeaea;
  background-color: #c82333;
  border-color: #bd2130;
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

/*****Form Submit Modal******/
.formSubmit-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s linear;
}

.modal-active {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.formSubmit-modal .card {
  border-radius: 3vh;
  margin: auto;
  max-width: 380px;
  padding: 3rem 2rem;
  align-items: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--primary-color);
  transform: scale(0.7);
}

.formSubmit-modal.modal-active .card {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.formSubmit-modal .card .card-img {
  padding: 0.2rem 0;
  text-align: center;
  transform: rotate(-45deg) scale(0.5);
}

.formSubmit-modal.modal-active .card .card-img {
  transform: rotate(0deg) scale(1);
  transition: transform 0.25s ease-in-out 0.15s;
}

.formSubmit-modal .card .card-img i {
  font-size: 4rem;
  color: var(--secondary-color);
}

.formSubmit-modal .card .card-title {
  margin-bottom: unset;
}

.formSubmit-modal .card .card-title p {
  color: var(--text-color);
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
  font-weight: lighter;
}

.formSubmit-modal .card .card-text p {
  color: grey;
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem 0;
  font-weight: lighter;
}

.formSubmit-modal .card .btn {
  width: 50%;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  border-radius: 25px;
  color: white;
  font-size: 20px;
}

/****Footer****/

#footer {
  color: #eaeaea;
  margin-top: -80px;
}

.social {
  font-family: var(--common-font);
}

.social .btn {
  width: 60px;
  height: 60px;
  background: #24252a;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 30%;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(25, 23, 26, 0.3);
  -moz-box-shadow: 10px 10px 10px 0px rgba(25, 23, 26, 0.3);
  box-shadow: 10px 10px 10px 0px rgba(25, 23, 26, 0.3);
  color: #fff;
}

.social .btn i {
  line-height: 45px;
  font-size: 30px;
  transition: 0.2s linear;
}

.social .btn:hover i {
  transform: scale(1.1);
}

#footer .footer-content .copyright-content {
  color: #6f6f71;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .title-main {
    font-size: calc(6.5vw + 1.5rem);
  }
  .title-sub {
    font-size: calc(2.5vw + 1rem);
  }
  .section-title {
    font-size: calc(5.5vw + 1rem);
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .title-main {
    font-size: 6rem;
  }

  .section-title {
    font-size: 4.25rem;
  }

  #intro .intro-content h3 {
    font-size: calc(6.5vw + 3.5rem);
  }

  @keyframes anim-2 {
    from {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: calc(6.5vw + 3.5rem);
    }
    to {
      top: 0;
      transform: translate(-50%, -100%);
      font-size: 3rem;
    }
  }

  .feedback-section .feedback-content .submit-btn {
    border-color: var(--secondary-color);
    background-color: transparent;
  }
  .feedback-section .feedback-content .submit-btn:hover {
    color: #eaeaea;
    background-color: var(--secondary-color);
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .about-section .container {
    width: 1140px;
  }
}
